.main-menu {
  @apply bg-slate .text-grey-light;

  width: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  @apply fixed flex flex-col flex-none .justify-between;

  @screen sm {
    @apply  h-screen .sticky;
    width: 156px ;
  }

  @screen xl {
    width: 256px;
  }

  .nav-header {
    @apply .w-full .text-center .my-8;

    a, a:hover, a:visited {
      @apply .text-white .no-underline;
    }
  }

  .session-footer {
    @apply  .border-t .border-grey-darker .flex .justify-start .items-center;

    .avatar {
      @apply .p-2 .text-base;
    }

    .user {
      @apply .py-2 .text-xs .overflow-hidden;
    }

    a, a:hover, a:visited {
      @apply .text-white .no-underline;
    }

  }

  #menu {
    @apply .flex .flex-col .p-0 .m-0 .flex-grow;
    min-height: 0;
    scrollbar-color: #FFF;

    nav {
      @apply .flex .flex-col .flex-auto .w-full .overflow-x-auto;

      a {
        @apply .p-4 .border-b .border-grey-darker .text-white .no-underline;
      }

      a:hover, a:visited {

      }

      a.router-link-active {
        @apply .bg-blue-darkest
      }

      a:first-child {
        @apply border-t;
      }

      .nav-button {
        @apply .border-b-0 .text-grey-dark;
      }
    }

    nav#administrator {
      a:last-child {
        border-bottom: 0;
      }
    }
  }


}
