.page {
  @apply .m-2;

  @screen sm {
    @apply .m-4;
  }

  @screen lg {
    @apply .m-8;
  }

  header {
    @apply .text-grey-light;

    @screen sm {
      @apply .flex .justify-between .items-center;
    }

    aside {
      @apply .text-right;
    }
  }

  article header {
    @apply .text-grey-light .mb-0;
    margin-top: 1.5rem;
  }

  article section.content {
    width: 100%;
    @apply .p-2 .mt-2 .bg-white rounded;

    @screen sm {
      @apply .p-4 .mt-4;
    }

    a, a:visited {
      @apply .text-slate-light .cursor-pointer;
    }

    a:hover {
      @apply .text-slate-lighter;
    }

  }

  article.notebook {
    @apply .rounded .mt-4;

    section.notebook-page:first-child {
      @apply .rounded-t;

      .content {
        @apply .pt-4;
      }

      aside {
        @apply rounded-tr;
      }
    }

    section.notebook-page:last-child {
      @apply .rounded-b;

      .content {
        @apply .pb-4;
      }

      aside {
        @apply .rounded-br;
      }
    }

    section.notebook-page {
      // width: 100%;
      @apply .p-0 .mt-0 .bg-white rounded-none flex flex-col .max-w-4xl ;

      @screen sm {
        @apply .p-0 .mt-0 border-t;
      }

      @screen md {
        @apply .justify-between .flex-row;
      }

      a, a:visited {
        @apply .text-slate-light .cursor-pointer;
      }

      a:hover {
        @apply .text-slate-lighter;
      }

      .content {
        @apply px-4 py-2 .mb-2;
      }

      aside {
        @apply .bg-grey-lighter w-full;

        @screen md {
          @apply  flex-none;
          width: 16rem;
        }

        .options {
          @apply .flex .justify-around;

          button {
            @apply .text-grey-dark .w-full .h-full .py-2 ;
          }


        }

        .conversation {
          max-height: 16rem;
          overflow: scroll;
          overflow-wrap: break-word;
          @apply .text-grey-darkest;

          button.add-comment {
            @apply .text-center .p-2 .text-sm .w-full .text-grey-darker;
          }
        }

        .conversation .comment {
          @apply flex text-sm .justify-start .p-2;
        }

        .attachments {
          max-height: 16rem;
          overflow: scroll;
          @apply .text-grey-darkest;

          button.add-attachment {
            @apply .text-center .p-2 .text-sm .w-full .text-grey-darker;
          }
        }

        .attachments .attachment {
          @apply flex text-sm .justify-between .items-center .px-2 .py-1 .truncate;

          &:hover {
            @apply bg-grey-light;
          }
        }


      }


    }
  }

  footer {
    width: 100%;
    @apply .p-4 .mt-4 .bg-grey-darker .rounded .text-grey-light;

    a, a:visited {
      @apply .text-grey-light .cursor-pointer;
    }

    a:hover {
      @apply .text-slate-dark;
    }
  }

  form {
    @apply
  }
}

.category-label {
  @apply .bg-slate-lighter .p-1 .rounded;
  font-size: 0.6em;
}
