.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: relative; // different - for reading order in macOS VO
  display: inline-block; // new - for reading order in macOS VO
}

.center-xy {
  @apply pin mx-auto h-screen flex flex-col justify-center items-center;
}


::selection {
  @apply .bg-blue;
}

::-moz-selection {
  @apply .bg-blue;
}
