.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: relative; // different - for reading order in macOS VO
  display: inline-block; // new - for reading order in macOS VO
}

.center-xy {
  @apply inset-0 mx-auto h-screen flex flex-col justify-center items-center;
  z-index: 25;
  width: 100%;
}

::selection {
  @apply .bg-blue;
}

::-moz-selection {
  @apply .bg-blue;
}

.markdown {
  p, h1, h2, h3, h4, h5, h6, ul, ol {
    margin-bottom: 0.5rem;
  }

  pre {
    @apply bg-grey-lighter p-2 mb-2;
  }

  code {
    @apply bg-grey-lighter
  }

  blockquote {
    @apply .mb-2 .ml-2 .pl-2 .border-l-4;
  }

  hr {
    @apply border;
  }
}
